<div class="container-fluid">
  <h1>Tanárok</h1>

  {{ objektum | json }}
  <!-- <div class="row" *ngFor="let tanar of objektum">
    {{ tanar.name }}
  </div> -->

  <div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
      {{ oszlop.texthu }}
    </div>
    <div class="col">Műveletek</div>
  </div>

  {{ujTanar | json}}

<div class="row my-2">
    <div *ngFor="let oszlop of oszlopok" class="col">
        <input
          [(ngModel)]="ujTanar[oszlop.key]"
          [type]="oszlop.type"
          class="form-control"
        />
    </div>
  </div>
    <div class="col">
      <button (click)="uj()" type="button" class="btn btn-warning">
        Hozzáadás
      </button>
    </div>
  </div>  

  <div *ngFor="let tanar of objektum; let i = index" class="row my-2">
    <div *ngFor="let oszlop of oszlopok" class="col">
      <ng-container *ngIf="oszlop.type != 'plain'; else plain">
        <input
          [(ngModel)]="tanar[oszlop.key]"
          [type]="oszlop.type"
          class="form-control"
        />
      </ng-container>
      <ng-template #plain>
        {{ tanar[oszlop.key] }}
      </ng-template>
    </div>

    <div class="col">
      <button type="button" class="btn btn-success">Mentés</button>
      <button (click)="torol(tanar, i)" type="button" class="btn btn-danger">
        Törlés
      </button>
</div>
